---
layout: layouts/home.njk
eleventyNavigation:
  key: Portfolio
  order: 2
---



<div class="w3-container" style="margin-top:80px" id="showcase">
			<h1 class="w3-xxxlarge w3-text-red"><b>Portfolio</b></h1>
			<hr style="width:50px;border:5px solid red" class="w3-round">
		</div>

{% set postslist = collections.portfolio  %}
{% set postslistCounter = collections.portfolio | length %}
{% include "portfoliolist.njk" %}

