---
layout: layouts/home.njk
eleventyNavigation:
  key: Portfolio
  order: 2
---

<h1>Portfolio</h1>

{% set postslist = collections.portfolio  %}
{% set postslistCounter = collections.portfolio | length %}
{% include "portfoliolist.njk" %}

