<div class="w3-row-padding">
<div class="w3-half">
{% for post in postslist | reverse %}
  
  {% if loop.index%2!=0%}
  {% if post.data.card %}
  <a href="{{ post.url | url }}"><img src="{{post.data.card | url }}" style= "width:100%;max-width:100%;"/> </a>
  {% endif %}
  {% endif %}
{% endfor %}
</div>

<div class="w3-half">
{% for post in postslist|reverse %}
  
  {% if loop.index%2==0%}
  {% if post.data.card %}
  <div class="imgbox">
  <a href="{{ post.url | url }}"><img src="{{post.data.card | url }}" style= "width:100%;max-width:100%"/> </a>
  </div>
  <div class="imgBoxContent" style="opacity:0">
  <h1>{{post.data.title}}</h1>
  </div>
  {% endif %}
  {% endif %}
{% endfor %}
</div>
</div>

