{# <div class="w3-row-padding">
<div class="w3-half">
{% for post in postslist | reverse %}
  
  {% if loop.index%2!=0%}
  {% if post.data.card %}
  
      <a href="{{ post.url | url }}"><img src="{{post.data.card | url }}" style= "width:100%;max-width:100%"/> </a>
    
  {% endif %}
  {% endif %}
{% endfor %}
</div>

<div class="w3-half">
{% for post in postslist|reverse %}
  
  {% if loop.index%2==0%}
  {% if post.data.card %}
  
  <a href="{{ post.url | url }}"><img src="{{post.data.card | url }}" style= "width:100%;max-width:100%"/> </a>
  
  {% endif %}
  {% endif %}
{% endfor %}
</div>
</div>

 #}
<style>
.flex-container {
  display: flex;
  flex-direction: row;
   flex-wrap: wrap;
}
</style>


<div class="flex-container">
  {% for post in postslist | reverse %}
  <div class="w3-half">
    <a href="{{ post.url | url }}"><img src="{{post.data.card | url}}" style="width:100%;max-width:100%;padding: 0 8px"/></a>
  </div>
  {% endfor %}
</div> 