---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1></h1>
<div class="w3-container" style="margin-top:80px" id="showcase">
			<h1 class="w3-xxxlarge w3-text-red"><b>{{ title }}</b></h1>
			<hr style="width:50px;border:5px solid red" class="w3-round">
		</div>
{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>
