---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1></h1>
<div class="w3-container" style="margin-top:80px" id="showcase">
			<h1 class="w3-xxxlarge w3-text-red"><b>{{ title }}</b></h1>
			
			<hr style="width:50px;border:5px solid red" class="w3-round">{%- if date -%} <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ date | readableDate }}</time>{%- endif -%} </h1>
		</div>
<div class="w3-container">
{{ content | safe }}
</div>

{% for tag in tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
<p><a href="{{ '/' | url }}">← Home</a></p>
